#addMovieForm {
  display: block;

  .info {
    width: 50%;

    vertical-align: top;
    display: inline-block;

    &>div {
      input {
        float: right;
        width: 60%;
      }
    }
  }

  .img {
    width: 40%;

    margin: 0 10px 10px 0;

    padding-top: 60%;
    background: black no-repeat center top;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
  }
}

.description {
   textarea {
     width: 100%;
     resize: none;
   }
 }