$prev-bg-color: rgb(199, 199, 199);

.prev {
  width: 30%;

  margin: 1%;
  padding: 1%;

  display: inline-block;
  position: relative;

  background-color: $prev-bg-color;

  vertical-align: top;

  &:hover {
    background-color: #e6e6e6;
  }

  .img-prev {
    padding-top: 140%;
    background: no-repeat center top;
    background-size: cover;
    display: block;
  }
}

#edit-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: right;
}

.prev-body {
  width: 100%;
  position: relative;

  .img {
    width: 40%;

    margin: 0 10px 10px 0;

    padding-top: 60%;
    background: no-repeat center top;
    background-size: cover;
    display: inline-block;
  }

  .info {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .description {
    clear: both;
  }
}